{% extends "network/layout.html" %}

{% block body %}
  <div id="login-form">
    <div class="row justify-content-center">
      <h2>Login</h2>
    </div>

    <div class="row justify-content-center">
      {% if message %}
          <div>{{ message }}</div>
      {% endif %}
    </div>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
          <div class="form-group">
              <input autofocus class="form-control" type="text" name="username" placeholder="Username" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Password" spellcheck="false">
          </div>
        </div>
        <div class="row justify-content-center">
          <input class="button medium" type="submit" value="Login">
        </div>
    </form>

    <div class="row justify-content-center" style="margin: 25px 0;">
      Don't have an account?<a href="{% url 'register' %}" style="color: #1ab2ff;">&nbspRegister here.</a>
    </div>
  </div>
{% endblock %}
