{% extends 'network/layout.html' %}

{% block body %}
  <section id="profile-info">
    <div class="row justify-content-center">
      <div class="profile-img">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="profile-username">{{ user.username }}</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-1 profile-followers">
        <div class="row justify-content-center profile-number"><b>{{ followers }}</b></div>
        <div class="row justify-content-center">Followers</div>
      </div>
      <div class="col-md-1 profile-follows">
        <div class="row justify-content-center profile-number"><b>{{ follows }}</b></div>
        <div class="row justify-content-center">Follows</div>
      </div>
      <div class="col-md-1 profile-posts-count">
        <div class="row justify-content-center profile-number"><b>{{ posts_count }}</b></div>
        <div class="row justify-content-center">Posts</div>
      </div>
    </div>
    <div class="row justify-content-center profile-following">
      {% if user.username != request.user.username %}
        {% if user_follow %}
          <button data-action="unfollow" data-user="{{ user.username }}" class="button large following-btn">Unfollow</button>
        {% else %}
          <button data-action="follow" data-user="{{ user.username }}" class="button large following-btn">Follow</button>
        {% endif %}
      {% endif %}
    </div>
  </section>
  <hr>
  <section id="profile-posts">
    <h5><span style="color: #1ab2ff;">{{ user.username }}</span> posts:</h5>
    {% for post in user_profile_posts %}
      <div class="row justify-content-center">
        <div class="col-md-8 single-post">
          <div class="row">
            <a href="{% url 'userProfile' post.user %}"><span class="post-username">{{ post.user }}</span></a>
          </div>
          <div class="row">
            <div class="post-time">{{ post.post_time }}</div>
          </div>
          <div class="row post-body-{{ post.id }}">
            <div class="post-body post-{{ post.id }}">
              {{ post.body }}
            </div>
          </div>
          <div class="row">
            <div class="post-likes">
              {% if request.user.username in post.users %}
                <i data-action="unlike" data-post-id="{{ post.id }}" class="fas fa-thumbs-up like-btn"></i>
              {% else %}
                <i data-action="like" data-post-id="{{ post.id }}" class="far fa-thumbs-up like-btn"></i>
              {% endif %}
              <span class="likes-count-{{ post.id }}">{{ post.post_likes }}</span>
            </div>
            {% if request.user == user %}
              <button data-post-id="{{ post.id }}" data-post-body="{{ post.body }}" class="button small action-btn">Edit</button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="row justify-content-center">
      <nav>
        <ul class="pagination">
          {% if user_profile_posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ user_profile_posts.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for page in user_profile_posts.paginator.page_range %}
            {% if user_profile_posts.paginator.count > 10 %}
              {% if user_profile_posts.number == page %}
                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if user_profile_posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ user_profile_posts.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ user_profile_posts.paginator.num_pages }}">last &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </section>
{% endblock %}
